# Python cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# IDE / Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
# Environment variables
.env
.env.*

# Logs
*.log

# CSV outputs (optional, if you don’t want to track candidates)
candidates.csv

# Database
instance/
src/webapp/instance/
database.db

# Attachments
attachements/
attachments/

# Egg-info
*.egg-info/

# MacOS
.DS_Store

# Windows
Thumbs.db

